:root {
  --the-black: #000000;
  --the-white: #fff;
  --the-blue: #2eafe6;
  --the-orange: #f15b29;
  --the-lightblue: #f4fcff;
  --the-gray: #f9f9f9;
  --the-grey: #989da0;
}

/*-------*/

/* FAQs */

.faqBanner {
  position: relative;
}

.faqBanner::before {
  content: "";
  position: absolute;
  left: -104vw;
  background-color: var(--the-lightblue);
  height: 100%;
  width: 200vw;
  top: 0;
}

.faq-text {
  padding-top: 150px;
  z-index: 99;
  position: relative;
}

.faq-text p {
  font-weight: 600;
}

@media (min-width: 786px) {
  .faq-row .col-md-4:first-of-type,
  .faq-row .col-md-4:nth-of-type(2) {
    border-right: 2px solid var(--the-black);
  }
}

.faq-row {
  margin-top: 80px;
  padding-bottom: 45px;
}

.faq-container i {
  font-size: 4em;
  background: var(--the-blue);
  color: var(--the-white);
  border-radius: 50%;
  padding: 7px 0;
  box-shadow: 0px 0px 17px 4px rgba(46, 175, 230, 0.75);
  -webkit-box-shadow: 0px 0px 17px 4px rgba(46, 175, 230, 0.75);
  -moz-box-shadow: 0px 0px 17px 4px rgba(46, 175, 230, 0.75);
}

.faq-btn a {
  display: inline-block;
  border: 2px solid var(--the-black);
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: bold;
  color: var(--the-black);
  margin: 2em 0;
  transition: 500ms ease-in-out;
}

.faq-btn a:hover {
  background: var(--the-blue);
  color: var(--the-white);
  border: 2px solid var(--the-blue);
}

.faqs-section {
  margin-bottom: 40px;
}

.faqs-section h2 {
  margin: 60px 0;
}

.the-faq {
  min-height: 120px;
}

/*FAQ Accordion*/

.sp-easy-accordion h3::after {
  display: none;
}

.sp-easy-accordion > .sp-ea-single > .ea-header a {
  color: var(--the-black) !important;
}

.sp-easy-accordion > .sp-ea-single {
  background: transparent !important;
}

.sp-easy-accordion > .sp-ea-single {
  border: 2px solid var(--the-gray) !important;
}

/* Header Navigation */

.sticky {
  background: var(--the-lightblue) !important;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: 700ms ease-in-out;
  border-bottom: 1px solid var(--the-black);
}

.sticky .mst-flex {
  margin: 12px 0px 12px 0;
}

body:not(.home) .for-header {
  border-bottom: 1px solid var(--the-black);
}

#homeSlider .owl-item.active h2,
#homeSlider .owl-item.active p,
#homeSlider .owl-item.active .btn a {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.4s;
}

.ms-caption {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.mega-menu-primary-mobile-open #mega-menu-primary {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: ;
}

@media (min-width: 700px) {
  .mega-menu-primary-mobile-open #mega-menu-primary {
    width: 50% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  #mega-menu-wrap-primary
    #mega-menu-primary
    > li.mega-menu-item
    > a.mega-menu-link {
    line-height: 40px;
    height: 65px;
    padding: 0 10px;
  }

  #mega-menu-wrap-primary
    #mega-menu-primary
    > li.mega-menu-item
    > a.mega-menu-link {
    line-height: 25px;
    height: 61px;
    padding: 2px 10px;
  }
}

#mega-menu-wrap-primary
  #mega-menu-primary
  > li.mega-menu-item
  > a.mega-menu-link {
  line-height: 24px;
  height: 53px;
  padding: 2px 10px;
}

#mega-menu-wrap-primary
  #mega-menu-primary
  > li.mega-menu-item.mega-current-menu-item
  > a.mega-menu-link,
#mega-menu-wrap-primary
  #mega-menu-primary
  > li.mega-menu-item.mega-current-menu-ancestor
  > a.mega-menu-link,
#mega-menu-wrap-primary
  #mega-menu-primary
  > li.mega-menu-item.mega-current-page-ancestor
  > a.mega-menu-link {
  color: var(--the-orange);
  background: transparent;
}

/*main slider*/
@media (min-width: 600px) {
  #homeSlider .owl-dot.active {
    background-color: var(--the-orange) !important;
    display: inline-block;
    width: 7px;
    height: 100px;
    transition: 700ms;
  }

  #homeSlider .owl-dot {
    background-color: var(--the-white) !important;
    height: 100px;
    width: 7px;
    display: inline-block;
    transition: 700ms;
  }

  #homeSlider .owl-dots {
    display: flex;
    gap: 1em;
    position: absolute;
    top: 30%;
    right: 5%;
    flex-direction: column;
    transition: 700ms;
  }
}

/*--------------------------------*/

/*hover effect*/

.ripple-button {
  display: inline-grid;
  place-items: center;
  position: relative;
  /* isolation: isolate; */
  appearance: none;
  padding: 1em;
  text-transform: uppercase;
  background-color: transparent;
  color: transparent;
  border: 5px solid currentColor;
  border-radius: 0.125em;
}

a.ripple-button {
  color: transparent;
}

/* .ripple-button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-25%, -25%);
  transition: transform 750ms;
  z-index: -1;
  width: 92%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--the-orange);
  opacity: 0.5;
  padding: 41%;
  height: 92%;
} */

/*--------------------------*/

.ripple-button img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.circle {
  border: 1px solid var(--the-orange);
  height: 340px;
  width: 340px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  top: var(--y);
  left: var(--x);
  transform-origin: center;
  transition: all 50ms ease-in-out;
}

.circle-wrapper {
  position: relative;
}

/* Single Careers */

.careerTitle {
  padding-top: 150px;
}

.careerTitle h2 {
  margin-bottom: 40px;
}

/* Claim Form */

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email,
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
input.wpcf7-form-control.wpcf7-file.wpcf7-validates-as-required {
  margin-bottom: 10px;
}

/* Search Results */

.the-results {
  border-bottom: 1px solid var(--the-orange);
  padding: 10px 0;
}

.the-results h3,
.the-results p {
  color: var(--the-black);
  transition: 500ms ease-in-out;
}

.the-results h3:hover,
.the-results p:hover {
  color: var(--the-blue);
}

/* Testimonials */

.testimonials {
  text-align: center;
  margin: 40px 0;
}

.testimony {
  margin: 20px 0;
}

.testimony h6 {
  color: var(--the-orange);
}

#testimonialSlider.owl-carousel .owl-dots .owl-dot {
  background: var(--the-grey);
  height: 10px;
  width: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 50px;
}

#testimonialSlider.owl-carousel .owl-dots .owl-dot.active {
  background: var(--the-orange);
}

#testimonialSlider.owl-carousel .owl-nav {
  display: none;
}

.testimony-wrapper {
  margin-bottom: 80px;
}
