:root {
  --the-black: #000000;
  --the-white: #fff;
  --the-blue: #2eafe6;
  --the-orange: #f15b29;
  --the-lightblue: #f4fcff;
  --the-gray: #f9f9f9;
  --the-grey: #989da0;
}

/*-------*/

/* FAQs */

.faqBanner {
  background-color: var(--the-lightblue);
}

.faq-text {
  padding-top: 150px;
}

.faq-text p {
  font-weight: 600;
}

@media (min-width: 786px) {
  .faq-row .col-md-4:first-of-type,
  .faq-row .col-md-4:nth-of-type(2) {
    border-right: 2px solid var(--the-black);
  }
}

.faq-row {
  margin-top: 80px;
}

.faq-container i {
  font-size: 4em;
  background: var(--the-blue);
  color: var(--the-white);
  border-radius: 50%;
  padding: 7px 0;
  box-shadow: 0px 0px 17px 4px rgba(46, 175, 230, 0.75);
  -webkit-box-shadow: 0px 0px 17px 4px rgba(46, 175, 230, 0.75);
  -moz-box-shadow: 0px 0px 17px 4px rgba(46, 175, 230, 0.75);
}

.faq-btn a {
  display: inline-block;
  border: 2px solid var(--the-black);
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: bold;
  color: var(--the-black);
  margin: 2em 0;
}
